
      /* Global styles */
      body {
        margin: 0;
        padding: 0;
        color: white;
        font-family: Arial, sans-serif;
        background-color: white;
      }
      #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }
    
     
      /* General Header Styling */
      #header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        border-bottom: 3px solid #333;
        background-color: #6d1c5d;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      h3 a{
        text-decoration: none;
        color: white;
      }
      /* Left Section Styling */
      #header-left h2 {
        color: #fff;
        font-size: 28px;
        margin: 0;
      }

      #header-left h3 {
        color: #f0f0f0;
        font-size: 16px;
        margin: 5px 0;
        display: flex;
        align-items: center;
      }

      #header-left img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
      }

      /* Right Section Styling */
      #header-right ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      #header-right ul li {
        margin-left: 30px;
      }

      #header-right ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        transition: color 0.3s ease;
      }

      #header-right ul li a:hover {
        color: #ffd700;
        text-decoration: underline;
      }
      /* Responsive Design */
      @media screen and (max-width: 768px) {
        #header {
          flex-direction: column;
          text-align: center;
        }

        #header-left,
        #header-right {
          margin-bottom: 15px;
        }

        #header-right ul {
          flex-direction: column;
        }

        #header-right ul li {
          margin-left: 0;
          margin-top: 10px;
        }
      }

      /* Portfolio information */
      #intro-section {
        background-color: white;
        padding: 50px;
        border: 1px solid #ddd;
        max-width: 1200px;
        margin: 200px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }

      .intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .intro-image img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 30px;
      }

      .intro-text h1 {
        font-size: 36px;
        color: #6c63ff;
        margin-bottom: 20px;
      }

      .intro-text p {
        font-size: 18px;
        color: #333;
        line-height: 1.6;
        max-width: 600px;
      }
      /* second page*/
      /* Skills Section */
      #skills-section {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .skill-card {
        width: 180px;
        height: 180px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
      }

      .skill-card img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
      }

      .skill-card h3 {
        margin: 10px 0 5px 0;
        font-size: 18px;
        color: #333;
      }

      .skill-card p {
        font-size: 14px;
        color: #777;
      }
      /* Projects Section */
      #projects-section {
        padding: 50px;
        background-color: white;
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      #projects-section h2 {
        color: #6c63ff;
        font-size: 36px;
        margin-bottom: 30px;
      }

      .project {
        margin-bottom: 30px;
      }

      .project h3 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }

      .project p {
        font-size: 18px;
        color: #555;
        margin-bottom: 20px;
      }

      .divider {
        border-top: 1px solid #ddd;
        margin: 20px 0;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
      }

      h1 {
        color: #5e2d8a; /* Purple color */
        text-align: left;
        font-size: 2.5em;
        margin-bottom: 20px;
      }

      .recommendation-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
      }

      .recommendation {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #d0d0d0;
      }

      .recommendation p {
        font-style: italic;
        font-size: 1.1em;
        line-height: 1.6em;
        color: #333;
        text-align: justify;
        position: relative;
        margin: 0;
        padding-left: 20px;
      }

      .recommendation p::before {
        content: "“";
        font-size: 2em;
        color: #7d1ba0;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 0.8em;
      }

      .recommendation p::after {
        content: "”";
        font-size: 2em;
        color: #7d1ba0;
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 0.8em;
      }
      .recommendation-form {
        width: 50%;
        margin: 50px auto;
        text-align: center;
      }

      .recommendation-form h2 {
        font-size: 2em;
        color: #333;
        margin-bottom: 20px;
      }

      .recommendation-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .recommendation-form input,
      .recommendation-form textarea {
        width: 80%;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }

      .recommendation-form input:focus,
      .recommendation-form textarea:focus {
        border-color: #5e2d8a;
      }

      .recommendation-form button {
        padding: 10px 30px;
        font-size: 1.2em;
        color: #5e2d8a;
        background-color: transparent;
        border: 2px solid #5e2d8a;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .recommendation-form button:hover {
        background-color: #5e2d8a;
        color: #fff;
      }

      /* Floating Action Button (FAB) */
      .fab {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #5e2d8a;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }

      .fab img {
        width: 24px;
        height: 24px;
      }

      .fab:hover {
        background-color: #7d1ba0;
      }
 